# Exemplo  Titanic

Aqui nós implementamos Naive Bayes Gaussiano utilizando o banco de dados do Titanic Disaster. Usaremos as classes sala, sexo, idade, número de irmãos / cônjuges, número de pais / filhos, tarifa de passageiro e informações do porto de embarque.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [2]:
# Importando dataset
data = pd.read_csv("train.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Converte categorical variable to numeric
#primeira forma
#sexo=np.where(data["Sex"]=="male",0,1)
#segunda forma
sexo=pd.get_dummies(data["Sex"],drop_first=True)
data["Sex"]=sexo

data.drop('Name', axis=1, inplace=True)
data.drop('Embarked', axis=1, inplace=True)
data.drop('Cabin', axis=1, inplace=True)
data.drop('Ticket', axis=1, inplace=True)

In [5]:
# Limpando dataset de NaN
data=data.dropna(axis=0, how='any')

In [6]:
y = data['Survived']
data.drop('Survived', axis=1, inplace=True)
X = data

In [7]:
data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    1  22.0      1      0   7.2500
1            2       1    0  38.0      1      0  71.2833
2            3       3    0  26.0      0      0   7.9250
3            4       1    0  35.0      1      0  53.1000
4            5       3    1  35.0      0      0   8.0500

In [8]:
# Dividir conjunto de dados em conjuntos de dados de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
# Instanciar o classificador
gnb = GaussianNB()

In [10]:
# Treinando classificador
gnb.fit( X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:
y_pred = gnb.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix, classification_report

In [13]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.87      0.83       126
           1       0.78      0.69      0.73        89

    accuracy                           0.79       215
   macro avg       0.79      0.78      0.78       215
weighted avg       0.79      0.79      0.79       215

In [14]:
print(confusion_matrix(y_test, y_pred))

[[109  17]
 [ 28  61]]